*,
*::before,
*::after {
    box-sizing: border-box; 
}

* {
    font-family: Garamond, 'Times New Roman', serif;
    background-color: #fff8e7;
    color: #1c1b19;
    /* margin: 0;
    padding: 0;*/
}

h1 {
    font-size: xxx-large;
    font-weight: bolder;
    color: #D14D41;
}

img {
    display: block;
    margin: 16px auto;
}

a {
    color: #006c67;
}

.sub {
    color: #1c1b1999;
}

#content {
    width: 1008px;
    margin: 0 auto;
}

h2,
#nav {
    text-transform: uppercase;
}

#nav {
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

#nav > a {
    padding: 5px 5px 3px;
    text-decoration: none;
}

#nav > a:hover {
    color: #fff8e7;
    background-color: #006c67;
}

h1,
.sub {
    text-align: center;
}

h2,
h1,
#nav > a {
    font-family: Verdana, Arial, sans-serif;
}