* {
    font-family: Garamond, 'Times New Roman', serif;
    background-color: #fff8e7;
    color: #1c1b19;
}

h1 {
    font-size: xxx-large;
    font-weight: bolder;
    color: #D14D41;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #006c67;
}

.sub {
    color: #1c1b1999;
}

#content {
    display: block;
    width: 1008px;
    margin-left: auto;
    margin-right: auto;
}

h2,
#nav {
    text-transform: uppercase;
}

#nav {
    font-size: large;
}

h1,
.sub,
#nav {
    text-align: center;
}

h2,
h1,
#nav {
    font-family: Verdana, Arial, sans-serif;
}